.todoItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .todoCheckbox {
    margin-right: 10px;
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  .deleteButton {
    text-decoration: none;
    margin-left: auto;
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
  }